@*
    Server side comments
*@
    
<!-- Client side comments -->

@model Product[]

@section style{}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in @Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.price</td>
            </tr>
        }
        
    </tbody>
</table>
