<div class="lead text-center">
    <h1>Thank you, @Model.Name!</h1>
    @if (@Model.WillAttend == true)
    {
        @:It's great that you are comming
    }
    else
    {
        @:Sorry to hear that
    }
</div>
